<div>
    <form #registerform="ngForm" (ngSubmit)="onSubmit()">
    <mat-card id="card">
        <h3>Register</h3>
        <mat-card-content>
            <mat-form-field>
                <input matInput
                    type="text"
                    id="username" 
                    [(ngModel)]="user.username"
                    name="user.username" 
                    placeholder="Username" required>
            </mat-form-field><br/>

            <mat-form-field>
                <input matInput
                    type="email"
                    id="email" 
                    [(ngModel)]="user.email" 
                    name="user.email" 
                    placeholder="Email" required>
            </mat-form-field><br/>

            <mat-form-field>
                <input matInput
                    type="email"
                    id="confEmail" 
                    [(ngModel)]="confEmail" 
                    name="confEmail" 
                    placeholder="Confirm Email" required>
            </mat-form-field><br/>

            <mat-form-field>
                <input matInput
                    type="password"
                    id="password" 
                    [(ngModel)]="user.password" 
                    name="user.password" 
                    placeholder="Password" required>
            </mat-form-field><br/>

            <mat-form-field>
                <input matInput
                    type="password"
                    id="confPass" 
                    [(ngModel)]="confPass" 
                    name="confPass" 
                    placeholder="Confirm Password" required>
            </mat-form-field><br/>

            <mat-form-field>
                <mat-label>Select a role</mat-label>
                <mat-select [(value)]="user.role">
                  <mat-option value="cashier">Cashier</mat-option>
                  <mat-option value="admin">Admin</mat-option>
                </mat-select>
              </mat-form-field><br>
            <button mat-raised-button color="accent" type="submit">Register</button>
        </mat-card-content>
    </mat-card>        
    </form>
</div>