<mat-toolbar color="primary">
    <a routerLink="/home-page" routerLinkActive="active"><span>Warehouse</span></a>
    <span class="spacer"></span>

    <div layout="row" layout-align="center center" *ngIf="userStateService.userState.isLogin === false">        
        
        <a routerLink="/login" routerLinkActive="active">
            <button mat-raised-button color="accent">Log In</button>
        </a>

        <div layout="row" class="divider"></div>

        <a routerLink="/register" routerLinkActive="active">
            <button mat-raised-button color="accent">Register</button>
        </a>
    </div>

    <div layout="row" layout-align="center center" *ngIf="userStateService.userState.isLogin === true">        
        
        <a routerLink="/register" routerLinkActive="active">
            <span>Logged in as: {{userStateService.userState.username}}</span>
        </a>      
        
        <div layout="row" class="divider"></div>

        <button mat-raised-button color="accent" (click)="logoutClick()">Log Out</button>

    </div>


</mat-toolbar>
