<mat-toolbar color="primary">
    
    <span>Warehouse</span>
    
    <div layout="row" class="divider"></div>
    <a routerLink="/home" routerLinkActive="active">
        <button mat-raised-button color="accent">Home</button>
    </a>

    <div layout="row" class="divider"></div>
    <a routerLink="/profile" routerLinkActive="active" *ngIf="user.isLogin">
        <button mat-raised-button color="accent">Profile</button>
    </a>

    <div layout="row" class="divider"></div>
    <a routerLink="/addproducts" routerLinkActive="active" *ngIf="user.isLogin">
        <button mat-raised-button color="accent">Add Products</button>
    </a>

    <span class="spacer"></span>

    <div layout="row" layout-align="center center" *ngIf="!user.isLogin">        
        
        <a routerLink="/login" routerLinkActive="active">
            <button mat-raised-button color="accent">Log In</button>
        </a>

        <div layout="row" class="divider"></div>

        <a routerLink="/register" routerLinkActive="active">
            <button mat-raised-button color="accent">Register</button>
        </a>
    </div>

    <div layout="row" layout-align="center center" *ngIf="user.isLogin">        
        
        <a routerLink="/profile" routerLinkActive="active">
            <span>Logged in as: {{user.username}}</span>
        </a>      
        
        <div layout="row" class="divider"></div>

        <button mat-raised-button color="accent" (click)="logoutClick()">Log Out</button>

    </div>


</mat-toolbar>
