<div>
    <form #registerform="ngForm" (ngSubmit)="onSubmit()">
    <mat-card id="card">
        <h3>Log In</h3>
        <mat-card-content>
            <mat-form-field>
                <input matInput
                    type="text"
                    id="username" 
                    [(ngModel)]="user.username"
                    name="username" 
                    placeholder="Username">
            </mat-form-field><br/>

            <mat-form-field>
                <input matInput
                    type="password"
                    id="password" 
                    [(ngModel)]="user.password"
                    name="name" 
                    placeholder="Password">
            </mat-form-field><br/>
            <button mat-raised-button color="accent" type="submit">Log In</button>
        </mat-card-content>
    </mat-card>        
    </form>
</div>