<div>
    <form #updateDetailsForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-card>
            <h3>Update User Details</h3>
            <mat-card-content>
                <mat-form-field>
                    <input matInput
                        type="text"
                        id="username" 
                        [(ngModel)]="username"
                        name="username" 
                        placeholder="Username">
                </mat-form-field><br>

                <mat-form-field>
                    <input matInput
                        type="text"
                        id="email" 
                        [(ngModel)]="email"
                        name="email" 
                        placeholder="Email">
                </mat-form-field><br>
            
                <button mat-raised-button color="accent" type="submit">Update</button>
            </mat-card-content>
        </mat-card>
    </form>
</div>