<div>
    <form #updateDetailsForm="ngForm" (ngSubmit)="updateUser()">
        <mat-card>
            <h3>Update User Details</h3>
            <mat-card-content>
                <mat-form-field>
                    <input matInput
                        type="text"
                        id="newUsername" 
                        [(ngModel)]="user.newUsername"
                        name="newUsername" 
                        placeholder="New Username">
                </mat-form-field><br>

                <mat-form-field>
                    <input matInput
                        type="text"
                        id="newEmail" 
                        [(ngModel)]="user.newEmail"
                        name="newEmail" 
                        placeholder="New Email">
                </mat-form-field><br>
            
                <button mat-raised-button color="accent" type="submit">Update</button>
            </mat-card-content>
        </mat-card>
    </form>
</div>